* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0017;
  color: white;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu a:hover {
  color: #b36bff;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.avatar-glow {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(circle, #a855f7 0%, transparent 70%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-glow img {
  width: 100px;
}

.subtitle {
  margin-top: 20px;
  opacity: 0.7;
}

.hero h2 {
  margin-top: 20px;
  font-size: 28px;
}

.description {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  opacity: 0.8;
}

.projetos {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: linear-gradient(145deg, #1a0033, #2a004f);
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.3);
}

.card:hover {
  transform: translateY(-5px);
}

.card button {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: #a855f7;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #9333ea;
}

.social {
  text-align: center;
  margin-top: 40px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
img {
    width: 80px;
}

.icons a {
  font-size: 20px;
  transition: 0.3s;
}

.icons a:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 60px 20px;
  position: relative;
}

.orbit {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  border-radius: 50%;
  border: 1px solid rgba(168, 85, 247, 0.3);
  position: relative;
  animation: rotate 10s linear infinite;
}

.center-logo {
  width: 60px;
  height: 60px;
  background: #a855f7;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .menu {
    gap: 15px;
  }

  .hero h2 {
    font-size: 22px;
  }
}